:root {
	--color-bg-dark: #1e1f24;     
	--color-bg-medium: #2c2d33;   
	--color-bg-light: #535353;   
	--color-red: #e74c3c;         
	--color-green: #2ecc71;       
	--color-light: #f0f0f0;       
	--color-black: #0f0f0f;      
	--text-active-color: #ff3838;
	--text-inactive-color: #858585;
  }
  
body {
	box-sizing: border-box;
	color: white;
}

.socket-client-container {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
	background-color: var(--color-bg-dark);
  }
  
  .status-bar {
	margin-bottom: 20px;
  }
  
  .status {
	font-size: 18px;
	font-weight: bold;
  }
  
  .status.connected {
	color: var(--color-green)
  }
  
  .status.connecting {
	color: var(--color-red);
  }
  
  .game-info {
	display: flex;
	align-items: stretch; 
	justify-content: space-between;
	background-color: var(--color-bg-medium);
	margin: 25px 0;
	padding: 35px;
	border-radius: 8px;
	margin-bottom: 20px;
	gap: 20px;
  }
  
  .balance-display {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 200px;
	background-color: var(--color-bg-medium);
	border: 3px solid var(--color-bg-dark);
	border-radius: 5px;
	padding: 25px 15px;
  }
  .balance-refresh-button {
	scale: 1.5;
	padding: 0;
  }

  
  .phase-info, .betting-section, .refuel-section {
	margin-top: 20px;
  }
  
  button {
	padding: 8px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: all 0.3s ease;
  }
  
  button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
	transform: translateY(-5px);
  }
  
  .roll-history {
	background-color: var(--color-bg-medium);
	padding: 15px;
	border-radius: 8px;
	margin-top: 20px;
  }
  
  .roll-history ul {
	list-style: none;
	padding: 0;
  }
  
  .roll-history li {
	font-size: 16px;
	margin: 15px 15px;
  }
  
  .betinput-buttons {
	background-color: var(--color-bg-dark);
	padding: 25px 15px;
	border-radius: 15px;
  }
  .bet-input {
	margin: 0 15px;
	min-width: 300px;
	border-radius: 5px;
	text-align: center;
  }
  .bet-input:focus {
	outline: none;
  }
  .bet-columns {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	text-align: center;
  }
  
  .bet-column {
	flex: 1;
	padding: 10px;
  }
  
  .bet-column h4.user-bet {
	margin-bottom: 10px;
	font-weight: bold;
  }
  .global-bet {
	color: var(--color-bg-light)
  }
  .bet-column .global-bet {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 0.9em;
  }
  
  .red-button {
	background-color: var(--color-red);
	padding: 10px;
	border: none;
	border-radius: 8px;
  }
  
  .green-button {
	background-color: var(--color-green);
	padding: 10px;
	border: none;
	border-radius: 8px;
  }
  
  .black-button {
	background-color: var(--color-black);
	padding: 10px;
	border: none;
	border-radius: 8px;
  }
  
  .bet-list {
	min-height: 800px;
  }
  
  .bet-item {
	margin: 15px 0;
	display: flex;
	justify-content: space-evenly;
  }