@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Cardo:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--color-bg-dark: #1e1f24;     
	--color-bg-medium: #2c2d33;   
	--color-bg-light: #6d6b6b;   
	--color-red: #e74c3c;         
	--color-green: #2ecc71;       
	--color-light: #f0f0f0;       
	--color-black: #0f0f0f;      
	--text-active-color: #ff3838;
	--text-inactive-color: #858585;
	--color-white: #ffffff;   
	--color-accent: #e53935; 
	--color-muted: #aaa;      
	--color-shadow: rgba(0, 0, 0, 0.1);   
	--color-border: rgba(229, 57, 53, 0.3); 
	--color-hover-shadow: rgba(229, 57, 53, 0.4);
	--radius: 8px;
	--section-gap: 2rem;
  }
  
  body {
	font-family: 'Poppins', sans-serif;
	font-weight: 600; 
	box-sizing: border-box;
	color: white;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.container {
	max-width: 1280px;
	width: 90%;
}
.socket-client-container {
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
	background-color: var(--color-bg-dark);
	border-radius: 10px;
	animation: fadeIn 1.5s ease-out;
	width: 100%;
  }
  
  .status-bar {
	margin-bottom: 20px;
  }
  
  .status {
	font-size: 18px;
	font-weight: bold;
  }
  
  .status.connected {
	color: var(--color-green)
  }
  
  .status.connecting {
	color: var(--color-red);
  }
  
  .game-info {
	display: flex;
	align-items: stretch; 
	justify-content: space-between;
	background-color: var(--color-bg-medium);
	margin: 15px 0;
	padding: 15px 25px;
	border-radius: 10px;
	margin-bottom: 20px;
	gap: 20px;
  }
  
  .balance-display {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 200px;
	background-color: var(--color-bg-medium);
	border: 5px solid var(--color-bg-dark);
	border-radius: 15px;
	padding: 25px 15px;
  }
  .balance-refresh-button {
	scale: 1.5;
	padding: 0;
  }

  
  .phase-info, .betting-section, .refuel-section {
	margin-top: 20px;
  }
  
  button {
	padding: 8px 20px;
	font-size: 0.8rem;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	transition: all 0.3s ease;
  }
  
  button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
	transform: translateY(-5px);
  }
  
  .history-text {
	display: flex;
	align-items:flex-end;
	transform: rotate(-90deg);
	font-size: 0.8rem;
	opacity: 0.5;
  }
  .roll-history {
	background-color: var(--color-bg-medium);
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
	width: 100%;
  }
  
  .roll-history ul {
	list-style: none;
	padding: 0;
  }
  
  .roll-history li {
	font-size: 16px;
	margin: 5px 15px;
  }
  .history-tile {
	aspect-ratio: 1/1;
	transition: all 0.2s ease;
  }
  .history-green-tile {
	background-color: var(--color-green);
	filter: drop-shadow(0 0 10px green);
	scale: 1.2;
  }
  .history-red-tile {
	background-color: var(--color-red);
	filter: drop-shadow(0 0 5px var(--color-red));
  }
  .history-black-tile {
	background-color: var(--color-black);
	filter: drop-shadow(0 0 5px rgb(0, 0, 0));
  }

  .betinput-buttons {
	background-color: var(--color-bg-dark);
	padding: 25px 15px;
	border-radius: 15px;
  }
  .betinput-buttons button {
	border: 2px solid var(--color-bg-light);
	border-radius: 15px;
	margin: 0 4px;
  }
  .betinput-buttons button:nth-child(2) {
	border-color:  var(--color-bg-medium);
	color: var(--color-bg-light)
  }
  .betinput-buttons button:last-child {
	border-color: var(--color-red);	
	color: var(--color-red)

  }
  .bet-input {
	margin: 0 15px;
	min-width: 300px;
	border-radius: 5px;
	text-align: center;
  }
  .bet-input:focus {
	outline: none;
  }
  .bet-columns {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	text-align: center;
  }
  
  .bet-column {
	flex: 1;
    display: flex;
    flex-direction: column;
	transition: opacity 0.5s ease;
	}
	.bet-column-fade {
		opacity: 0.3;
		transition: opacity 0.5s ease;
	}

  .user-bet, .global-bet-info, .bet-list {
	background-color: var(--color-bg-medium);
	border-radius: 8px;
	padding: 15px;
	margin: 10px;
	
  }	
  
  .bet-column h4.user-bet {
	font-weight: bold;
  }
  
  .red-button, .green-button, .black-button {
	width: 150px;
	padding: 10px;
	margin: 15px auto;
	border: none;
	border-radius: 8px;	
  }
  .red-button {
	background-color: var(--color-red);
  }
  .green-button {
	background-color: var(--color-green);
  }
  .black-button {
	background-color: var(--color-black);
  }
  
  .bet-list {
	min-height: 400px;
  }
  
  .bet-item {
	margin: 15px;
	display: flex;
	justify-content: space-between;
  }
  .bet-item span {
	display: flex;
	margin: 0 15px;
	align-items: center;
  }
  .bet-amount {
	color: var(--color-red)
  }
  @keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(15px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }