@import "tailwindcss";

:root {
	--background: #252525;
	--primary-font-color: #e9e9e9;
}
html {
	scroll-behavior: smooth;
	background-color: var(--background);
}
* {
	box-sizing: border-box;
}
body {
	color: var(--primary-font-color);
	margin: 15px 0;
	overflow: hidden;
	font-size: 16px;
	position: relative;
}

.container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
}

main {
	background-color: var(--background);
	color: var(--primary-font-color) !important;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}